<!DOCTYPE html>
<head>
    <title>Cochin</title>
    <link rel="stylesheet" href="css/goa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
<div class="topnav">
    <a href="/bootstrap">Home</a>
    <a class="active"href="/Wedding">Wedding</a>
    <a href="/Dining">Dining</a>
    <a href="/book_wed">Manage booking</a>            </div><br>
<div class="container-1">
    <img class="ree"src="https://simplexitytravel.com/wp-content/uploads/2020/07/taj-hotel-scaled.png">
    <div class="centered"></div>
</div>

<div class="row1">
    <h1><center>Meetings & Event Spaces at Wilston  Hotel & Convention Centre, cochin</center></h1>
    <p> </p>
</div>

<pre class="map"> <a href="/bootstrap">Wilston</a> ><a href="/Wedding">Weddings</a> > <a href="#">Wilston  Hotel & Convention Centre, cochin</a> </pre>




<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/hotels/tajhotelsandconvetioncentre/meeting/29-Mansion-Theater.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Mansion</h1>
        <h3>Wilston Hotel & Convention Centre, cochin</h3>
        <p> claves planned with clockwork efficiency. Sales meets that achieve all their targets. The Mansion has played host to a wide panoply of events. This vast pillarless, high-ceilinged banquet hall, one of the largest in North India, encompasses 2322 sq. m. including 1022 sq. m<br> Max capcity: 4000</p>
        <p class="hd">
            <button class="b1">     Dimension: 22 m. X 55 m. x 8 m. | Area: 1302  sq. m. | Height: 8 m.<br>
                Guest Entry Point: 4</button>
        <pre>
<b class="high">Theatre :</b> -  1600          <b class="high">circular:</b>  -  528 <br>
<b class="high">U shaped:</b>  - 285           <b class="high">Boardroom:</b>-   NA<br>
<b class="high">classroom:</b> -  660          <b class="high">Reception:</b>  -  2000 <br>                                                  <a href="bookwed.html"><button class="row10">Request Quote</button></a>
                </pre>
    </div>
</div>



<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/hotels/Taj_GreenCove_Kovalam_06Feb2016/images/gallery/Banquet-Hall.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Grand Ball Room</h1>
        <h3>Wilston Hotel & Convention Centre, cochin</h3>
        <p> Featuring a lofty ceiling and more than 487 sq. m. of space, the Grand Ball Room truly does justice to its name. With access to two adjoining lawns and a capacity of 450 guests, this is the perfect venue for sangeet, mehndi ceremonies, anniversary parties, smaller wedding receptions, conventions and corporate events. <br> Max capcity: 450</p>
        <p class="hd">
            <button class="b1">     Dimension: 33 m. X 15 m. x 5 m. | Area: 487 sq. m. | Height: 5 m.<br>
                Guest Entry Point: NA</button>
        <pre>
<b class="high">Theatre :</b> -  450           <b class="high">circular:</b>  -  210 <br>
<b class="high">circular :</b>  - 140          <b class="high">Boardroom:</b>-   NA<br>
<b class="high">classroom:</b> -  250          <b class="high">Reception:</b>  -  450 <br>                                                  <a href="bookwed.html"><button class="row10">Request Quote</button></a>
        </pre>
    </div>
</div>


<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/Taj_Exotica_Goa/3x2/SPP_3063.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Celebrations</h1>
        <h3>Wilston Hotel & Convention Centre, cochin</h3>
        <p> This majestic pillarless ballroom with a high ceiling is the perfect location for a larger-than-life celebration.<br> Max capcity: 80</p>
        <p class="hd">
            <button class="b1">     Dimension: 15 m. X 8 m. x 2 m. | Area: 117 sq. m. | Height: 2 m.<br>
                Guest Entry Point: 2</button>
        <pre>
<b class="high">Theatre :</b> -  80          <b class="high">circular:</b>  -  40 <br>
<b class="high">circular :</b>  - NA         <b class="high">Boardroom:</b>-   80<br>
<b class="high">classroom:</b> -  54         <b class="high">Reception:</b>  -  50 <br>                                                  <a href="bookwed.html"><button class="row10">Request Quote</button></a>
        </pre>
    </div>
</div>
<footer>
    <ul class = "socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/CS21B2006"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <div class="footer-copyright">
        <p>Copyright-&copy;2023 </p>
    </div>
</footer>



</body>



</html>