<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/goastyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="topnav">
    <a href="/bootstrap">Home</a>
    <a class="active" href="/Dining">Dining</a>
    <a href="/Wedding">Wedding</a>
    <a href="https://cs21b2006.github.io/webd/">Contact us</a>
</div>
<br>

<div class = cointainer>
    <img src="images/gh.jpeg">
    <div class="centered">Wilston Resort, spa, Hotel & Convention Centre, Goa</div>
</div>
<pre class="map"> <a href="/">Wilston</a> > <a href="#">Wilston Resort, spa, Hotel & Convention Centre, Goa</a> > <a href="/Dining">Dining</a> > Miramar</pre>

<div class="container-2">
    <div class="container-1">
        <div class="image">
            <img src="images/goa.jpeg">
        </div>
        <div class="text">
            <h1>Miramar</h1>
            <p class="hd">
                <i class="material-icons">place</i><a href="https://goo.gl/maps/havS6PX7okevQwF56">Miramar Cir, Miramar, Panaji, Goa - 403001</a><br><br>
                <i class="material-icons">local_phone</i> +91-183-6658047<br><br>
                Make the day slow down. With hand-picked teas and coffees at the Tea Lounge. <br>With a best beach view<br>
                <br>
            <pre>
<b class="high">Cuisine</b> -  Vietnamese, Asian        |  <b class="high">Dress Code</b>  -  Smart Casual <br>
<b class="high">Timing</b>  -  6:30 AM to 11:00 PM
                </pre>
            <button><p>Average Price for 2 People<br>
                    <b>&#8377 2800 - 3500<sup>*</sup></b>
                </p></button>
            <a href="book.html"><button class="book">BOOK NOW</button></a>
            </p>
        </div>
    </div>
    <div class="text-1">
        <br>
        <h2>Reserve a Table</h2>
        <button class="call">Please call <i class="material-icons">local_phone</i> +91-183-6658047 to reserve a table</button>
    </div>
</div>

</body>
</html>