<!DOCTYPE html>
<head>
    <title>goa</title>
    <link rel="stylesheet" href="css/goa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="topnav">
    <a href="/bootstrap">Home</a>
    <a class="active" href="/Wedding">wedding</a>
    <a href="/Dining">Dining</a>
    <a href="/book_wed">Manage booking</a>            </div><br>
<div class="container-1">
    <img class="ree"src="images/goa.jpg">
    <div class="centered">Wilston Exotica Resort and Spa, Goa</div>
</div>

<div class="row1">
    <h1><center>Meetings & Event Spaces at Wilston Exotica Resort & Spa, Goa</center></h1>
    <p> </p>
</div>

<pre class="map"> <a href="/bootstrap">Wilston</a> ><a href="/Wedding">Weddings</a> > <a href="#">Wilston Exotica resort and spa, GOA</a> </pre>




<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/Taj_Exotica_Goa/3x2/SPP_3004.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Saleta 1</h1>
        <h3>Wilston Exotica Resort and Spa, Goa</h3>
        <p> This venue is best suited for smaller events, meetings and conferences.<br> Max capcity: 40</p>
        <p class="hd">
            <button class="b1">     Dimension: 7 m. X 10 m. | Area: 72 sq. m. | Height: 3 m.<br>
                Guest Entry Point: 1</button>
        <pre>
<b class="high">Theatre :</b> -  40           <b class="high">circular:</b>  -  20 <br>
<b class="high">U shaped:</b>  - 24 hours    <b class="high">Boardroom:</b>-   24<br>
<b class="high">classroom:</b> -  20          <b class="high">Reception:</b>  -  50 <br>                                                 <a href="bookwed.html"><button class="row10">Request Quote</button></a>
                </pre>
    </div>
</div>



<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/Taj_Exotica_Goa/3x2/SPP_2750.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Saleta 2</h1>
        <h3>Wilston Exotica Resort and Spa, Goa</h3>
        <p> This intimate venue is perfect for smaller celebrations.<br> Max capcity: 40</p>
        <p class="hd">
            <button class="b1">     Dimension: 7 m. X 10 m. | Area: 72 sq. m. | Height: 3 m.<br>
                Guest Entry Point: 1</button>
        <pre>
<b class="high">Theatre :</b> -  40           <b class="high">circular:</b>  -  24 <br>
<b class="high">circular :</b>  - 20          <b class="high">Boardroom:</b>-   20<br>
<b class="high">classroom:</b> -  24         <b class="high">Reception:</b>  -  50 <br>                                                 <a href="bookwed.html"><button class="row10">Request Quote</button></a>
        </pre>
    </div>
</div>


<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/Taj_Exotica_Goa/3x2/SPP_3063.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Sale Grande</h1>
        <h3>Wilston Exotica Resort and Spa, Goa</h3>
        <p> This majestic pillarless ballroom with a high ceiling is the perfect location for a larger-than-life celebration.<br> Max capcity: 400</p>
        <p class="hd">
            <button class="b1">     Dimension: 17 m. X 15 m. | Area: 427 sq. m. | Height: 4 m.<br>
                Guest Entry Point: 3</button>
        <pre>
<b class="high">Theatre :</b> -  400           <b class="high">circular:</b>  -  150 <br>
<b class="high">circular :</b>  - 100         <b class="high">Boardroom:</b>-   100<br>
<b class="high">classroom:</b> -  160         <b class="high">Reception:</b>  -  500 <br>                                                  <a href="bookwed.html"><button class="row10">Request Quote</button></a>
        </pre>
    </div>
</div>

<footer>
    <ul class = "socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/CS21B2006"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <div class="footer-copyright">
        <p>Copyright-&copy;2023 </p>
    </div>
</footer>


</body>



</html>