<!DOCTYPE html>
<head>
    <title>MALDIVES</title>
    <link rel="stylesheet" href="css/goa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="topnav">
    <a href="/bootstrap">Home</a>
    <a class="active" href="/Wedding">Wedding</a>
    <a href="/Dining">Dining</a>
    <a href="/book_wed">Manage booking</a>            </div><br>
<div class="container-1">
    <img class="ree"src="https://www.travelconnectionmaldives.com/images/properties/Taj-Exotica-Resort-and-Spa-Aerial-view-of-rehendi-presidentail-suite-deluxe-lagoon-villa.jpg">
    <div class="centered"></div>
</div>

<div class="row1">
    <h1><center>Meetings & Event Spaces at Wilston Aravali Resort & Spa, Maldives</center></h1>
    <p> </p>
</div>

<pre class="map"> <a href="/bootstrap">Wilston</a> ><a href="/Wedding">Weddings</a> > <a href="#">Wilston Aravali Resort & Spa, Maldives</a> </pre>




<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/Taj_Exotica_Goa/3x2/SPP_3004.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Grand Ballroom2</h1>
        <h3>Wilston Aravali Resort & Spa, Maldives</h3>
        <p> <br> Max capcity: 40</p>
        <p class="hd">
            <button class="b1">     Dimension: NA | Area: NA | Height: NA<br>
                Guest Entry Point: 1</button>
        <pre>
<b class="high">Theatre :</b> -  110          <b class="high">circular:</b>  -  80 <br>
<b class="high">U shaped:</b>  - 35    <b class="high">Boardroom:</b>-   40<br>
<b class="high">classroom:</b> -  45          <b class="high">Reception:</b>  - 200 <br>                                                  <a href="bookwed.html"><button class="row10">Request Quote</button></a>
                </pre>
    </div>
    </div>



<div class="container">
    <div class="image">
        <img class="row4" src="https://www.tajhotels.com/content/dam/luxury/Taj_Exotica_Goa/3x2/SPP_2750.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Mewar Lawn2</h1>
        <h3>Wilston Aravali Resort & Spa, Maldives</h3>
        <p> A perfect venue for Grand Event, Product launches and Destination wedding. Offers you panoramic views of the surrounding Aravali ranges the meandering pool and the Reception block.<br> Max capcity: 40</p>
        <p class="hd">
            <button class="b1">     Dimension: NA | Area: 1997 sq. m. | Height: NA<br>
                Guest Entry Point: 2</button>
        <pre>
<b class="high">Theatre :</b> -  40           <b class="high">circular:</b>  -  24 <br>
<b class="high">circular :</b>  - 20          <b class="high">Boardroom:</b>-   20<br>
<b class="high">classroom:</b> -  24         <b class="high">Reception:</b>  -  50 <br>                                                  <a href="bookwed.html"><button class="row10">Request Quote</button></a>
        </pre>
    </div>
    </div>


<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/Taj_Exotica_Goa/3x2/SPP_3063.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1></h1>
        <h3>Wilston Aravali Resort & Spa, Maldives</h3>
        <p> <br> Max capcity: 400</p>
        <p class="hd">
            <button class="b1">     Dimension: NA| Area: NA| Height: NA<br>
                Guest Entry Point: 1</button>
        <pre>
<b class="high">Theatre :</b> -  110          <b class="high">circular:</b>  -  80 <br>
<b class="high">circular :</b>  - 35       <b class="high">Boardroom:</b>-   40<br>
<b class="high">classroom:</b> -  45         <b class="high">Reception:</b>  -  200 <br>                                                 <a href="bookwed.html"><button class="row10">Request Quote</button></a>
        </pre>
    </div>
    </div>

<footer>
    <ul class = "socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/CS21B2006"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <div class="footer-copyright">
        <p>Copyright-&copy;2023 </p>
    </div>
    </footer>


</body>



</html>