<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/maldivesstyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="topnav">
    <a href="/bootstrap">Home</a>
    <a class="active" href="/Dining">Dining</a>
    <a href="/Wedding">Wedding</a>
    <a href="https://cs21b2006.github.io/webd/">Contact us</a>
</div>
<br>

<div class = cointainer>
    <img src="images/mh.webp">
    <div class="centered">Wilston Hotel, Resort & Spa, Maldives</div>
</div>
<pre class="map"> <a href="/">Wilston</a> > <a href="#">Wilston Hotel, Resort & Spa, Maldives</a> > <a href="/Dining">Dining</a> > Kandooma</pre>

<div class="container-2">
    <div class="container-1">
        <div class="image">
            <img src="images/maldives.jpeg">
        </div>
        <div class="text">
            <h1>Kandooma Fushi</h1>
            <p class="hd">
                <i class="material-icons">place</i><a href="https://goo.gl/maps/UPTz6UpYojx1kDiz7">Kandooma Fushi, 08310, Maldives</a><br><br>
                <i class="material-icons">local_phone</i> +960 664-0511<br><br>
                Just come and enjoy the food with breathe taking view,<br>never before experience and great ambience<br>
                <br>
            <pre>
<b class="high">Cuisine</b> -  All types          |  <b class="high">Dress Code</b>  -  No restrictions <br>
<b class="high">Timing</b>  -  24 hours
                </pre>
            <button><p>Average Price for 2 People<br>
                    <b>&#8377 4500 - 6000<sup>*</sup></b>
                </p></button>
            <a href="book.html"><button class="book">BOOK NOW</button></a>
            </p>
        </div>
    </div>
    <div class="text-1">
        <br>
        <h2>Reserve a Table</h2>
        <button class="call">Please call <i class="material-icons">local_phone</i> +91-183-6658047 to reserve a table</button>
    </div>
</div>

</body>
</html>