
<!DOCTYPE html>
<head>
    <title>Mumbai</title>
    <link rel="stylesheet" href="css/goa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="topnav">
    <a  href="/bootstrap">Home</a>
    <a class="active"href="/Wedding">Wedding</a>
    <a href="/Dining">Dining</a>
    <a href="/book_wed">Manage booking</a>            </div><br>
<div class="container-1">
    <img class="ree"src="http://upload.wikimedia.org/wikipedia/commons/0/09/Mumbai_Aug_2018_%2843397784544%29.jpg">
    <div class="centered"></div>
</div>

<div class="row1">
    <h1><center>Meetings & Event Spaces at Wilston mahal palace,Mumbai</center></h1>
    <p> </p>
</div>

<pre class="map"> <a href="/bootstrap">Wilston</a> ><a href="/Wedding">Weddings</a> > <a href="#">Wilston mahal palace,Mumbai</a> </pre>




<div class="container">
    <div class="image">
        <img  class="row3"src="http://www.cfmedia.vfmleonardo.com/imageRepo/1/0/27/642/63/Golden_Dragon_2_P.jpg">
    </div>
    <div class="text">
        <h1>Crystal Room</h1>
        <h3>The Wilston Mahal Palace</h3>
        <p> The expansive Crystal Room with its vast, open space is ideal for conferences, launches and social events.<br> Max capcity: 650</p>
        <p class="hd">
            <button class="b1">     Dimension: 14 m. X 4 m. | Area: 687 sq. m. | Height: 1.4 m.<br>
                Guest Entry Point: 6</button>
        <pre>
<b class="high">Theatre :</b> -  200         <b class="high">circular:</b>  -  120 <br>
<b class="high">U shaped:</b>  - 90           <b class="high">Boardroom:</b>-   92<br>
<b class="high">classroom:</b> -  110         <b class="high">Reception:</b>  -  300 <br>                                                 <a href="bookwed.html"><button class="row10">Request Quote</button></a>
                </pre>
    </div>
</div>



<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/hotels/Taj_Mahal_Mumbai/new-images/Ballroom.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Ballroom</h1>
        <h3>The Wilston Mahal Palace<</h3>
        <p>The Ballroom dazzles with its golden decor, stunning views and in-built stage.<br> Max capcity: 550</p>
        <p class="hd">
            <button class="b1">     Dimension: 9 m. X 5 m. | Area: 496 sq. m. | Height: 1.5 m.<br>
                Guest Entry Point: 2</button>
        <pre>
<b class="high">Theatre :</b> -  70          <b class="high">circular:</b>  -  50 <br>
<b class="high">circular :</b>  - 40         <b class="high">Boardroom:</b>-   42<br>
<b class="high">classroom:</b> -  52         <b class="high">Reception:</b>  -  200 <br>                                                  <a href="bookwed.html"><button class="row10">Request Quote</button></a>
        </pre>
    </div>
</div>


<div class="container">
    <div class="image">
        <img src="https://www.tajhotels.com/content/dam/luxury/hotels/Taj_Mahal_Mumbai/new-images/Rendezvous.jpg/jcr:content/renditions/cq5dam.web.323.323.jpeg">
    </div>
    <div class="text">
        <h1>Rendezvous</h1>
        <h3>Wilston Mahal Palace</h3>
        <p> This breathtaking rooftop venue offers magnificent panoramic city views. Perfect for business meetings and celebrations.<br> Max capcity: 150</p>
        <p class="hd">
            <button class="b1">     Dimension: 6 m. X 3 m. | Area: 229 sq. m. | Height: 1.9 m.<br>
                Guest Entry Point: 1</button>
        <pre>
<b class="high">Theatre :</b> -  28          <b class="high">circular:</b>  -  24 <br>
<b class="high">circular :</b>  - 12         <b class="high">Boardroom:</b>-   14<br>
<b class="high">classroom:</b> -  28         <b class="high">Reception:</b>  -  50 <br>                                                  <a href="bookwed.html"><button class="row10">Request Quote</button></a>
        </pre>
    </div>
</div>

<footer>
    <ul class = "socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/CS21B2006"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <div class="footer-copyright">
        <p>Copyright-&copy;2023 </p>
    </div>
</footer>



</body>



</html>