<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/mumbaistyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="topnav">
    <a href="/bootstrap1">Home</a>
    <a class="active" href="/Dining">Dining</a>
    <a href="/Wedding">Wedding</a>
    <a href="https://cs21b2006.github.io/webd/">Contact us</a>
</div>
<br>

<div class = cointainer>
    <img src="images/download.webp">
    <div class="centered">Wilston Hotel & Convention Centre, Mumbai</div>
</div>
<pre class="map"> <a href="/">Wilston</a> > <a href="#">Wilston Hotel & Convention Centre, Mumbai</a> > <a href="/Dining">Dining</a> > Colaba</pre>

<div class="container-2">
    <div class="container-1">
        <div class="image">
            <img src="images/mumbai.jpeg">
        </div>
        <div class="text">
            <h1>Colaba</h1>
            <p class="hd">
                <i class="material-icons">place</i><a href="https://goo.gl/maps/kLqHkcMYu8qSqP3HA">Wilston East Gate Road,Colaba,Mumbai,Maharastra</a><br><br>
                <i class="material-icons">local_phone</i> +91-562-2335555 <br><br>
                Kitchen as theatre. Buzzing buffets. Fresh flavours from around the world. <br>Refreshing water bodies. Lofty ceilings. Welcome to Palato, our all day diner. <br>
                <br>
            <pre>
<b class="high">Cuisine</b> -  Multi-Cuisine           |  <b class="high">Dress Code</b>  -  Smart Casual <br>
<b class="high">Timing</b>  -  6:30 AM to 11:00 PM
                </pre>
            <button><p>Average Price for 2 People<br>
                    <b>&#8377 2200 - 2800<sup>*</sup></b>
                </p></button>
            <a href="book.html"><button class="book">BOOK NOW</button></a>
            </p>
        </div>
    </div>
    <div class="text-1">
        <h2>Reserve a Table</h2>
        <button class="call">Please call <i class="material-icons">local_phone</i> +91-562-2335555  to reserve a table</button>
    </div>
</div>

</body>
</html>