
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/log.css">
</head>

<body>

<div class="center">

    <h1>Login</h1>
    <form  action="/history" method="post">
        <div class="txt_field">
            <input type="email" name="email" required>
            <span></span>
            <label>Email</label>
        </div>
        <div class="txt_field">
            <input type="password"  name="password" required>
            <span></span>
            <label>Password</label>
        </div>

        <input type="submit" value="SignIN">
        <% if (message) { %>
            <div class="message">
                <%= message %>
            </div>
        <% } %>
    </form>
</div>
</body>
</html>
