<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Booking History</title>
    <link rel="stylesheet" href="css/next.css">
    <script src="history.js"></script>
</head>
<body>
<div class="center">
    <h1>Booking History</h1>
    <form action="/history" method="post">
        <div class="txt_field">
            <input type="email" name="email" required>
            <span></span>
            <label>Email</label>
        </div>
        <button type="submit" >Booking History</button>
    </form>
</div>

</body>
</html>

