<!DOCTYPE html>
<head>
    <title>DBMS PROJECT</title>
    <link rel="icon" href="zoro.webp">
    <link rel="stylesheet" href="css/1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
<body style="background-color: black">
<div class="topnav">
    <a  href="/bootstrap">Home</a>      <a class="active" href="/Weddingedding">Wedding</a>      <a href="/Dining">Dining</a>           <a href="/book_wed">Manage booking</a>            </div>
<br>
<img src="https://www.tajhotels.com/content/dam/luxury/weddings/Taj_Timeless%20Weddings_Desktop%20banner_21.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg" width="100%">


<h1 id="row1"> <center>TIMELESS WEDDINGS</center></h1>
<div class="row2">
    <p><center>
        A wedding with us has meant something special for generations.Elevate your big day into a memorable and momentous<br>
        celebration with our iconic repertoire of grand palaces, world class resorts and iconic properties. Make your dreams come <br>
        true with timeless weddings.
    </center></p>
</div>
<div class="row3">
    <video class="wedding_video" width="40%" height="40%" controls>
        <source src="https://www.tajhotels.com/content/dam/luxury/weddings/video/videoplayback.mp4?rel=0"type="video/mp4">

    </video>
</div>
<div class="row4">
    <h3><center>REACH TO US</center></h3>
</div>

<h4 id="row5" ><center>To book your dream wedding,please call <a href="tel:+15555555555">1555555555</a> or write to <a href=""https://mail.google.com/mail/u/1/?view=cm&fs=1&to=timelessweddings@ihcltata.com&tf=1">timessweddings@ihcltata.com</a></center></h5>

    <form class="form-area">
        <div class="mb-3">
            <label  class="form1"for="formControlInput">Enter Your Full Name</label>
            <input type="text" class="form-control" id="formControlInput" placeholder="Full name">
        </div>
        <div class="mb-3">
            <label class="form1" for="formControlInput">Email Address</label>
            <input type="email" class="form-control" id="formControlInput" placeholder="yourname@example.com"required>
        </div>
        <div class="mb-3">
            <label class="form1" for="formControlInput">mobile number</label>
            <input type="text" class="form-control" id="formControlInput" rows="3" placeholder="Enter Your number"required>
        </div>
        <div class="mb-3">
            <label class="form1"for="formControlInput">Residing city </label>
            <input type="text" class="form-control" id="formControlInput" rows="3" placeholder="Enter the city"required>
        </div>

        <div class="mb-3">
            <label  class="form1"for="formControlInput">Enquiry</label>
            <textarea class="form-control" id="formControlInput" rows="3" placeholder="Enter Your Enquiry"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>
    <div class="rep">
        <h1 ><center> EXPERIENCE TIMELESS WEDDINGS</center></h1>
        <p  ><center>With Timeless Wedding let your celebration be the beginning of a legacy of romance that generations ahead will listen.</center></p>
    </div>

    <div class="desk2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.tajhotels.com/content/dam/luxury/weddings/dining-sample-cusines/RENEWAL%20OF%20VOWS%2099.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" class="card-img-top"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">THE PERFECT PROPOSAL</h5>
                        <p class="card-text">
                            Plan the proposal of a lifetime. The plush surroundings and dreamy ambience are sure to awaken the romantic in you.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/VBT-Trivandrum_05Feb2016/images/Meet_Celebrate/Wedding_Preparations_5_16x7.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" class="card-img-top"
                         alt="Palm Springs Road" />
                    <div class="card-body">
                        <h5 class="card-title">PRE WEDDING SHOOTS</h5>
                        <p class="card-text">
                            Be it the snow-capped mountains or the bright blue seas that have caught your fancy, our dreamy destinations are perfect for picturesque photo shoots as you capture those cheerful moments just before you embark on your forever journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/VBT-Dwarka/images/Meet_Celebrate/Wedding_Preparations_4x3%20%282%29.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" class="card-img-top"
                         alt="Los Angeles Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">PRE WEDDING FESTIVITIES</h5>
                        <p class="card-text">From your bridal showers, bachelorettes, mehendi and haldi ceremonies to glitzy cocktail soirées we offer exclusive experiences as you celebrate your eternal love.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="desk2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.tajhotels.com/content/dam/luxury/weddings/ideads-and-inspirations/image48.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" class="card-img-top"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">FAIRYTALE WEDDING</h5>
                        <p class="card-text">
                            Experience royalty with a palace wedding or celebrate your wedding day in the magic of sand, waves and loved ones. You may select from our un-paralleled mountain destinations or landmark city destinations for a modern day wedding. Plan you iconic day with Timeless Weddings.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.tajhotels.com/content/dam/luxury/weddings/dining-sample-cusines/8.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" class="card-img-top"
                         alt="Palm Springs Road" />
                    <div class="card-body">
                        <h5 class="card-title">ROMANTIC HONEYMOON</h5>
                        <p class="card-text">Experience exotic honeymoon destinations as you celebrate your love. Your Honeymoon at our exquisite properties and destinations is all set to be nothing short of the most memorable experience, as you embark on this journey together.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/images/weddings/3x2/BANQ_WEDDING_3x2.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" class="card-img-top"
                         alt="Los Angeles Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">MILESTONE CELEBRATIONS</h5>
                        <p class="card-text">Every anniversary is a milestone celebration, make yours truly special as you surprise your beloved with bespoke experiences of love and togetherness
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <h2 id="re"> <center>VENUE FINDER</center></h2>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://www.tajhotels.com/content/dam/luxury/hotels/taj-mahal-tower-mumbai/images/new-images/taj_tower.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Mumbai</h3>
                <button type="button" onclick="location.href='/mumbai_wed'"class="btn btn-dark btn-lg">VIEW VENUES</button>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.tajhotels.com/content/dam/luxury/hotels/taj-theog/images/images2021/exterior.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Cochin</h3>
                <button type="button" onclick="location.href='/cochin_wed'"class="btn btn-dark btn-lg">VIEW VENUES</button>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.tajhotels.com/content/dam/luxury/weddings/ideads-and-inspirations/10-locations-by-indias-leading-hotel/image1.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Maldives</h2>
                <p class="card-text"></p>
                <button type="button" onclick="location.href='/maldives_wed'"class="btn btn-dark btn-lg">VIEW VENUES</button>

            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://www.tajhotels.com/content/dam/luxury/weddings/ideads-and-inspirations/the-best-taj-hotels-for-the-ultimate-bachelorette-trip/image11.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Delhi</h3>
                <p class="card-text"></p>
                <button type="button" class="btn btn-dark btn-lg" onclick="location.href='/delhi_wed'">VIEW VENUES</button>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.tajhotels.com/content/dam/luxury/weddings/video/E%20X%20O%20T%20I%20C%20A%20-%20Facade.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg"
                 alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Goa</h3>
                <p class="card-text"></p>
                <button type="button" onclick="location.href='/goa_wed'" class="btn btn-dark btn-lg">VIEW VENUES</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.tajhotels.com/content/dam/luxury/weddings/ideads-and-inspirations/timeless-weddings-trends-in-2020-in-conversation-with-renu-basu-senior-vice-president-global-sales-and-marketing-ihcl/image7.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Kolkata</h3>
                <button type="button" class="btn btn-dark btn-lg"  onclick="location.href='/kolkata_wed'">VIEW VENUES</button>

            </div>
        </div>
    </div>



    <h1 id="re"><center>INSPIRING THEMES</center></h1>

    <div class="desk">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img class="row8"src="https://www.tajhotels.com/content/dam/luxury/weddings/video/Baradari%20Dining%201.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" class="card-img-top" alt="...">
                    <div class="card-body" >
                        <h3 class="card-title">PALACE WEDDINGS</h3>
                        <p class="card-text">Create a mark in history with a breathtaking wedding, situated in the magnificent palaces where Maharajas once reigned.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="row8"src="https://www.tajhotels.com/content/dam/luxury/weddings/dining-sample-cusines/Taj%20Mahal%20Mumbai-Ball%20Room%201.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">ICONIC CITY WEDDINGS</h3>
                        <p class="card-text">Make a grand statement as you celebrate your eternal love affair at the one of the city’s most prominent landmarks.</p>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="row8"src="https://www.tajhotels.com/content/dam/luxury/weddings/dining-sample-cusines/Vivanta%20by%20Taj%20-%20Bentota,%20Sri%20Lanka%204.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">BEACH WEDDINGS</h3>
                        <p class="card-text">Celebrate your union at our dreamy resorts, where the shore melts into the mesmerizing ocean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h1 id="row7"><center>BEAUTY AND THE BEST</center></h1>
    <div class="row9">
        <p >Discover the secrets of Indian wellness with our specially crafted Bridal Spas at JIVA Spa. Think traditional homemade facials, body scrubs, sublime massages, aromatic blends that enhance your beauty sleep. For a holistic approach to your well-being as you count the days to your big day, sign up for yoga, and meditation services with a personal instructor and fitness consultant.</p>
    </div>


    </div>
    <div class="desk1">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img class="row8" src="https://image.wedmegood.com/resized-nw/1300X/wp-content/uploads/2016/09/PS_MSW120-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">GROOMING</h3>
                        <p class="card-text">Manicures, Pedicures and all in between A perfect start to a new beginning. God lies in the details Finishing touches, Bridal make-up A new look, a new You.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="row8"src="https://www.tajhotels.com/content/dam/luxury/weddings/preparing-you/Make-Up-Artist-3x2.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">RADIANCE</h3>
                        <p class="card-text">Luxurious signature facials for a flawless glow. Sublime massage for the soles of your feet Profound relaxation.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="row8" src="https://www.tajhotels.com/content/dam/luxury/weddings/honeymoon-venues/Nadesar-6-1310-Final.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">DETOX</h3>
                        <p class="card-text">Exfoliate, stimulate, eliminate Traditional Indian scrubs and wraps for the body Hridayãkasha Dhărna for the mind A beauty rehearsal to zero in on what suits you best.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row10">
            <div class="row11" style= "width:50%;float:left">
                <h2><center>
                        To book your dream wedding contact us at:
                    </center>
                </h2>
                <p><center>Email:timelessweddings@hcltata.com<br>phone:+91 22 6665 1168</center></p>
            </div>
            <div class="column" style= "width:50%;float:right">
                <img src="https://www.tajhotels.com/content/dam/luxury/weddings/video/0M0A2001.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg" width="75%">
            </div>
        </div>



</body>
</html>
